<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista użytkowników</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Lista użytkowników</h1>
    <ul>
        {% for user in users %}
        <li><a href="{{ url_for('user', id=user['id']) }}">{{ user['user_id'] }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Powrót</a>
</body>
</html>
